<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://www.arbetsformedlingen.se/webdav/files/system/css/af-b4.css">

    <!-- SOCKET.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io-stream/0.9.1/socket.io-stream.js"></script>

    <title>personlighetstest-poc</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but personlighetstest-poc doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="container">
      <div id="app"></div>
    </div>
  
  </body>
</html>
