<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://www.arbetsformedlingen.se/webdav/files/system/css/af-b4.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

    <title>personlighetstest-poc</title>
  </head>

  <style>
      .container {
          margin-top: 40px;
      }

      .card-header {
          font-size: 1.375rem;
      }

      .row {
          margin-bottom: 30px;
      }

      ul {
          list-style-type: none;
          margin: 0; padding: 0;
      }

      .soc-body {
          font-size: 12px;
      }

  </style>

  <body>
    <div class="container">
        <h1>Grafisk formgivare m.fl</h1>
        <p>
            Designar och formger tryckt publikation och media.
            Fastställer mål och restriktioner för designuppdraget genom samråd med kunder och intressenter.
        </p>


        <div class="row">

            <div class="col-md-8">

                <div class="row">
                    <div class="col-md">
                    <div class="card">
                        <div class="card-header">
                            Fördelning män/kvinnor
                        </div>
                        <div class="card-body">
                            <canvas id="kon" width="100%" height="100"></canvas>
                        </div>
                    </div>
            </div>

                <div class="col-md">
                    <div class="card">
                        <div class="card-header">
                            Sysselsatta
                        </div>
                        <div class="card-body">
                            <canvas id="sysselsatta" width="100%" height="100"></canvas>
                        </div>
                    </div>
                </div>

                    </div>

                <div class="row">

                <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Lön
                    </div>
                    <div class="card-body">
                        <canvas id="lon" width="100%" height="100"></canvas>
                    </div>
                </div>
                </div>

                </div>

                <div class="row">
                    <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Tasks (SOC)
                    </div>
                    <div class="card-body soc-body">
                        <ul class="soc">
<li>Determine size and arrangement of illustrative material and copy, and select style and size of type.  </li>
<li>Confer with clients to discuss and determine layout design.  </li>
<li>Create designs, concepts, and sample layouts, based on knowledge of layout principles and esthetic design concepts.  </li>
<li>Develop graphics and layouts for product illustrations, company logos, and Web sites.  </li>
<li>Use computer software to generate new images.  </li>
<li>Review final layouts and suggest improvements as needed.  </li>
<li>Maintain archive of images, photos, or previous work products.  </li>
<li>Prepare illustrations or rough sketches of material, discussing them with clients or supervisors and making necessary changes.  </li>
<li>Draw and print charts, graphs, illustrations, and other artwork, using computer.  </li>
<li>Key information into computer equipment to create layouts for client or supervisor.  </li>
<li>Research new software or design concepts.  </li>
<li>Study illustrations and photographs to plan presentation of materials, products, or services.  </li>
<li>Mark up, paste, and assemble final layouts to prepare layouts for printer.</li>
</ul>
                    </div>
                </div>
                </div>
                </div>

                 <div class="row">
                    <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Skills (SOC)
                    </div>
                    <div class="card-body soc-body">
                        <ul class="soc">
<li><strong>Active Listening</strong> — Giving full attention to what other people are saying, taking time to understand the points being made, asking questions as </li>appropriate, and not interrupting at inappropriate times.
<li><strong>Critical Thinking</strong> — Using logic and reasoning to identify the strengths and weaknesses of alternative solutions, conclusions or approaches to problems.</li>
<li><strong>Speaking</strong> — Talking to others to convey information effectively.  </li>
<li><strong>Reading Comprehension</strong> — Understanding written sentences and paragraphs in work related documents.  </li>
<li><strong>Active Learning</strong> — Understanding the implications of new information for both current and future problem-solving and decision-making.  </li>
<li><strong>Judgment and Decision Making</strong> — Considering the relative costs and benefits of potential actions to choose the most appropriate one.  </li>
<li><strong>Operations Analysis</strong> — Analyzing needs and product requirements to create a design.  </li>
<li><strong>Social Perceptiveness</strong> — Being aware of others' reactions and understanding why they react as they do.  </li>
<li><strong>Time Management</strong> — Managing one's own time and the time of others.  </li>
<li><strong>Complex Problem Solving</strong> — Identifying complex problems and reviewing related information to develop and evaluate options and implement solutions. </li>
<li><strong>Coordination</strong> — Adjusting actions in relation to others' actions.  </li>
<li><strong>Monitoring</strong> — Monitoring/Assessing performance of yourself, other individuals, or organizations to make improvements or take corrective </li>action.
<li><strong>Writing</strong> — Communicating effectively in writing as appropriate for the needs of the audience.</li>
</ul>
                    </div>
                </div>
                </div>
                </div>

                 <div class="row">
                    <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Abilities (SOC)
                    </div>
                    <div class="card-body soc-body">
                        <ul class="soc">
<li><strong>Near Vision</strong> — The ability to see details at close range (within a few feet of the observer).  </li>
<li><strong>Originality</strong> — The ability to come up with unusual or clever ideas about a given topic or situation, or to develop creative ways to solve a problem.  </li>
<li><strong>Fluency of Ideas</strong> — The ability to come up with a number of ideas about a topic (the number of ideas is important, not their quality, correctness, or creativity).  </li>
<li><strong>Oral Comprehension</strong> — The ability to listen to and understand information and ideas presented through spoken words and sentences.  </li>
<li><strong>Oral Expression</strong> — The ability to communicate information and ideas in speaking so others will understand.  </li>
<li><strong>Written Comprehension</strong> — The ability to read and understand information and ideas presented in writing.  </li>
<li><strong>Written Expression</strong> — The ability to communicate information and ideas in writing so others will understand.  </li>
<li><strong>Visualization</strong> — The ability to imagine how something will look after it is moved around or when its parts are moved or rearranged.  </li>
<li><strong>Category Flexibility</strong> — The ability to generate or use different sets of rules for combining or grouping things in different ways.  </li>
<li><strong>Deductive Reasoning</strong> — The ability to apply general rules to specific problems to produce answers that make sense.  </li>
<li><strong>Speech Clarity</strong> — The ability to speak clearly so others can understand you.  </li>
<li><strong>Speech Recognition</strong> — The ability to identify and understand the speech of another person.  </li>
<li><strong>Visual Color Discrimination</strong> — The ability to match or detect differences between colors, including shades of color and brightness.  </li>
<li><strong>Inductive Reasoning</strong> — The ability to combine pieces of information to form general rules or conclusions (includes finding a relationship among seemingly unrelated events).  </li>
<li><strong>Information Ordering</strong> — The ability to arrange things or actions in a certain order or pattern according to a specific rule or set of rules (e.g., patterns of numbers, letters, words, pictures, mathematical operations).  </li>
<li><strong>Problem Sensitivity</strong> — The ability to tell when something is wrong or is likely to go wrong. It does not involve solving the problem, only recognizing there is a problem.  </li>
<li><strong>Selective Attention</strong> — The ability to concentrate on a task over a period of time without being distracted.</li>
</ul>
                    </div>
                </div>
                </div>
                </div>

            </div>

            <div class="col-md-4">

                   <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                Lediga jobb
                            </div>
                            <div class="card-body">
                                Se alla <strong>43</strong> lediga jobb i Platsbanken.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                Medelålder
                            </div>
                            <div class="card-body">
                                Män: <strong>34,7 år</strong> Kvinnor: <strong>32,5 år</strong>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                Utbildningsvägar
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><strong>Yh-utbildning</strong> (19)</li>
                                    <li><strong>Folkhögskoleutbildning</strong> (9)</li>
                                    <li><strong>Yrkesutbildning</strong> (17)</li>
                                    <li><strong>Komvux- & vuxenutbildning</strong> (25)</li>
                                    <li><strong>Universitets- & högskoleutbid.</strong> (151)    </li>
                                    <li><strong>Konst- och kulturutbildning</strong> (6) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                Yrken inom kultur, media, design
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><strong>Art director</strong></li>
                                    <li><strong>Bloggare</strong></li>
                                    <li><strong>Copywriter</strong></li>
                                    <li><strong>Dansare</strong></li>
                                    <li><strong>Fotograf</strong></li>
                                    <li><strong>Grafisk formgivare</strong></li>
                                    <li><strong>Influencer</strong></li>
                                    <li><strong>Informatör/Kommunikatör</strong></li>
                                    <li><strong>Inredningsarkitekt</strong></li>
                                    <li><strong>Journalist</strong></li>
                                    <li><strong>Ljudtekniker</strong></li>
                                    <li><strong>Musiker</strong></li>
                                    <li><strong>Originalare</strong></li>
                                    <li><strong>Skådespelare</strong></li>
                                    <li><strong>Social media manager</strong></li>
                                    <li><strong>Tolk</strong></li>
                                    <li><strong>Webbdesigner </strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                Fackförbund
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li><strong>Unionen</strong></li>
                                    <li><strong>GS facket</strong></li>
                                    <li><strong>DIK</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                Konkurrens
                            </div>
                            <div class="card-body">
                                <canvas id="konkurrens" width="100%" height="100"></canvas>
                                <small>
                                1: Mycket liten konkurrens om jobben<br>
                                2: Liten konkurrens om jobben<br>
                                3: Balans<br>
                                4: Hård konkurrens om jobben<br>
                                5: Mycket hård konkurrens om jobben<br>
                                    </small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>






        </div>
    </div>

  </body>

  <script>
       new Chart(document.getElementById('konkurrens'), {
        type: 'bar',
        data: {
            labels: ['1 år', '5 år'],
            datasets: [
                {
                    data: [5, 5],
                    "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)"]
                }
            ]
        },
           "options": {
            legend: {
                display: false
            },
            "scales": {
                "yAxes": [{

                    ticks: {
                        max: 5,
                        beginAtZero: true,
                        min: 1,
                        stepSize: 1
                    }
                }],
                "xAxes": [{
                    max: 2,
                    "ticks": {
                        "beginAtZero": true,

                    }
                }]
            }
        }
    });

      new Chart(document.getElementById('kon'), {
        type: 'pie',
        data: {
            labels: ['Män', 'Kvinnor'],
            datasets: [
                {
                    data: [48, 52],
                    "backgroundColor": ["rgb(255, 99, 132)", "rgb(54, 162, 235)"]
                }
            ]
        },
    });

      new Chart(document.getElementById('sysselsatta'), {
        type: 'doughnut',
        data: {
            labels: ['Grafisk formgivare m.fl', 'Anställda inom kultur, media, design'],
            datasets: [
                {
                    data: [7219, 100007],
                    "backgroundColor": ["rgb(98,255,166)", "rgb(228,237,242)"]
                }
            ]
        },
    });

      new Chart(document.getElementById("lon"), {
        "type": "horizontalBar",
        "data": {
            "labels": ["14-15.999 kr", "16-17.999 kr", "18-19.999 kr", "20-21.999 kr", "22-23.999 kr", "24-25.999 kr", "26-27.999 kr", "28-29.999 kr", "30-32.999 kr", "33-35.999 kr", "36-38.999 kr", "39-42.999 kr", "43-46.999 kr", "47-51.999 kr", "52-57.999 kr"],
            "datasets": [{
                "data": [1.26, 1.51, 4.53, 10.33, 10.33, 18.64, 15.62, 11.08, 14.11, 7.3, 2.02, 2.02, 0, 0.25, 0.25],
                "fill": false
            }]
        },
        "options": {
            legend: {
                display: false
            },
            "scales": {
                "xAxes": [{
                    "ticks": {
                        "beginAtZero": true,
                        display: false
                    }
                }]
            }
        }
    });

  </script>

</html>
