<template>
    <div>
        <h1>Fritext</h1>

        <blockquote class="blockquote">
            <p class="mb-0">Fyll i ett öppet brev, CV eller annan text.</p>
        </blockquote>
        <div class="form-group">
            <textarea class="form-control" v-model="text"></textarea>
            <button class="btn btn-primary btn-block" @click="setText()">Analysera text</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FreeText',

    data () {
        return {
            text: 'Hej!\n\nAtt ge god service och överträffa människors förväntningar har varit en röd tråd genom hela min karriär. Jag har flera års erfarenhet av arbete i klädbutik, bland annat från min nuvarande anställning på Åhléns och min tidigare tjänst i en jeansaffär i London. (Tidigare erfarenhet – Check!)  Från dessa två tjänster har jag utvecklat ett servicepräglat tankesätt som idag är en mycket naturlig del av mig. Det viktigaste i mötet med kunden är i min mening att snabbt etablera en relation och att både lyssna in och kunna komma med förslag till kunden utifrån detta. Att jag dessutom snabbt lär känna mina kollegor gör att jag enkelt blir en del av ett team. (Bra på att bygga relationer – Check!) (God känsla för kundbemötande – Check!)\n\nI min nuvarande tjänst har jag haft en ledande roll över tre anställda på min avdelning. En viktig del av att inneha ledarrollen i en grupp är enligt min åsikt att kunna inspirera andra. Jag är en person vars inre drivkraft och engagemang är synlig, vad jag än tar mig för. (Orden: driven och inspirera – Check!) När jag driver ett projekt är det lätt för andra att haka på och jag har flera exempel på hur jag genom mitt genuina engagemang har inspirerat andra. Exempelvis då jag i min nuvarande tjänst drev ett projekt i syfte att förbättra butikens skyltning. Ett projekt som blev mycket lyckat och idag har implementerats på samtliga Åhlens-varuhus i landet. (Återigen – en driven och inspirerande person – Check!).\n\nAtt utföra mina arbetsuppgifter på ett professionellt sätt är väldigt viktigt. För mig är det exempelvis viktigt att inte förbli stillasittande i mitt jobb. Jag vill att det alltid ska finnas en rörelse framåt, att något är på gång, eller att något förändras till det bättre! I en klädaffär finns det alltid något att göra trots att det för stunden kanske inte finns några kunder. Denna tid brukar jag använda till att gå igenom lager, organisera och naturligtvis alltid se till att butiken ser ordnad och tilltalande ut för kunderna. Detta proaktiva arbetssätt smittar lätt av sig till min omgivning. (Ordningsam och självgående – Check!)\n\nJag ser fram emot utmaningen som det operativa ansvaret i butiken hos er skulle innebära. Kombinationen av att vara bra på att bemöta människor, samt att leda och organisera arbetet, gör mig till den ni söker. (Ordet: Operativt ansvar – check!) Att min tidigare arbetslivserfarenhet inte har innefattat särskilt många administrativa moment är inget problem för mig. Jag utvecklas ständigt, och om det dyker upp ett problem ser jag helt enkelt till att lösa det. (Administration – check.) Jag ser fram emot att höra mer om och tjänsten och vidare berätta vad jag har att bidra med.\n\nVänliga hälsningar,'
        }
    },

    methods: {
        setText () {
            this.$emit('finished', this.text)
        }
    }
}
</script>

<style scoped>
textarea {
  height: 200px;
}

button {
  margin-top: 20px;
}
</style>

