<template>
  <div v-if="occupations.length || loading">
    <h4>Matchande jobb</h4>
    <div class="loading-indicator" v-show="loading"></div>
    <div v-for="occupation in occupations" :key="occupation.ssyk">
      <div class="card occupation">
        <div class="card-header">{{ occupation.name }}</div>
        <div class="card-body">
          SSYK: <a href="/yrke.html" target="_blank">{{ occupation.ssyk }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Ontology from '../services/Ontology.js'
import Taxonomy from '../services/Taxonomy.js'

export default {
  name: 'Occupations',
  props: ['traits'],

  data () {
    return {
      loading: false,
      occupations: []
    }
  },

  watch: {
    traits (newVal, oldVal) {
      this.occupations = []
      if (newVal.length) {
        this.searchOccupations(newVal)
      }
    }
  },

  methods: {
    searchOccupations (fromTraits) {
      this.loading = true

      Ontology.searchOccupations(fromTraits).then((occupations) => {
        occupations.forEach((occupation) => {
          Taxonomy.searchOccupation(occupation.name).then((result) => {
            if (result) {
              this.occupations.push(result)
            }

            this.loading = false
          })
        })
      })
    }
  }
}
</script>

<style scoped>
.occupation {
  margin: 0 0 20px 0;
}
</style>




