<template>
  <div class="root">

    <div class="left-column type-of-analyze" v-if="isAnalyzeType(false)">
      <div class="icon-before">&nbsp;</div>
      <h1>Typ av analys</h1>
      Vill du svara på frågor eller skriva i fritext?

      <p>
        <div class="btn-app-link btn-app-link--size-small ng-star-inserted" @click="setAnalyzeType('questions')">Frågor</div>
        <div class="btn-app-link btn-app-link--secondary btn-app-link--size-small ng-star-inserted" @click="setAnalyzeType('text')">Fritext</div>
        <div class="btn-app-link btn-app-link--secondary btn-app-link--size-small ng-star-inserted" @click="setAnalyzeType('speech')">Tala in</div>
      </p>
    </div>

    <div class="left-column text-analyze" v-if="isAnalyzeType('text')">
      <a href="#" class="icon-before" @click="setAnalyzeType(false)"><i class="i-angle-left"></i>Tillbaka</a>
      <free-text v-on:finished="setText"></free-text>
    </div>

    <div class="left-column questions" v-if="isAnalyzeType('questions')">
      <a href="#" class="icon-before" @click="setAnalyzeType(false)"><i class="i-angle-left"></i>Tillbaka</a>
      <questions :amount="5" v-on:finished="setScores"></questions>
    </div>

    <div class="left-column questions" v-if="isAnalyzeType('speech')">
      <a href="#" class="icon-before" @click="setAnalyzeType(false)"><i class="i-angle-left"></i>Tillbaka</a>
      <speech></speech>
    </div>
    
    <div class="answer">
      <div class="icon-before">&nbsp;</div>
      <h1>Svar</h1>

      <traits :scores="scores" :text="text" v-on:finished="setTraits"></traits>

      <occupations :traits="traits"></occupations>
      
    </div>

  </div>

  

</template>

<script>

import FreeText from './FreeText.vue'
import Questions from './Questions.vue'
import Speech from './Speech.vue'
import Traits from './Traits.vue'
import Occupations from './Occupations.vue'

export default {
  name: 'PersonlighetsTest',
  
  components: {
    Questions,
    Traits,
    Occupations,
    FreeText,
    Speech
  },
  
  data () {
    return {
      scores: false,
      text: null,
      traits: false,
      analyzeType: false
    }
  },

  methods: {

    isAnalyzeType (type) {
      return type == this.analyzeType
    },

    setAnalyzeType (type) {
      this.scores = false
      this.text = null
      this.traits = false
      this.analyzeType = type;
    },

    setScores (scores) {
      this.scores = scores
    },

    setText (text) {
      this.text = text
    },

    setTraits (traits) {
      this.traits = traits
    }
  }
}
</script>

<style scoped>

.root {
  display: flex;
  height: 100vh;;
}

.left-column , .answer {
  flex: 1;
  padding: 20px;
}

.left-column {
  overflow: visible;
}

.answer {
  height: 100vh;
}

.btn-app-link {
  margin-right: 10px;
  cursor: pointer;
}

.back {
  
}

</style>
