<template>
  <div class="question card" :class="{ answered : answered }">
    <div class="card-body">
        <div class="card-title" @click="toggleQuestion()">
          <span class="name">{{ data.text }}</span>
          <i class="i-angle-up float-right" v-if="compacted" @click="toggleQuestion()"></i>
          <i class="i-angle-down float-right" v-if="!compacted" @click="toggleQuestion()"></i>
          <div v-if="choice" class="choice">
            {{ choice }}
          </div>
        </div>
        <transition name="slide">
          <div v-show="!compacted" class="choices">
            <div class="form-check" v-for="choice in data.choices" :key="getChoiceId(choice)">
                <input 
                    class="form-check-input"
                    type="radio"
                    :name="data.id"
                    v-on:input="answer(choice)"
                    :id="getChoiceId(choice)">
                        <label 
                            class="form-check-label"
                            :for="getChoiceId(choice)">
                            {{ choice.text }}
                            
                        </label>
            </div>
          </div>
        </transition>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Question',
  
  data () {
      return {
          answered: false,
          choice: false,
          compacted: false
      }
  },

  props: {
    data: Object
  },

  methods: {
      answer (choice) {
        this.$emit('answered', this.generateChoiceModel(choice))
        this.answered = true
        this.compacted = true
        this.choice = choice.text
      },

      getChoiceId (choice) {
        return this.data.id + '-' + choice.score
      },

      generateChoiceModel (choice) {
          return {
            id: this.data.id,
            model: {
                domain: this.data.domain,
                facet: this.data.facet,
                score: choice.score
            }
          }
      },

      toggleQuestion () {
        this.compacted = !this.compacted
      }
  }
}
</script>

<style scoped>
.card {
  transition: background-color .5s ease-in;
}

.question {
  margin: 20px 0 0 0;
}

.choice {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-style: italic
}

.card-title {
  margin-bottom: 0;
  cursor: pointer;
}

.choices {
  margin-top: 10px;
  max-height: 500px;
}

.slide-enter-active, .slide-leave-active {
  transition: max-height .5s;  
  transition: opacity .1s;
}
.slide-enter, .slide-leave-to {
  max-height: 1000px;
  opacity: 0;
}

</style>
