<template>
    <div>
        <h1>Frågor</h1>
      
        <question v-for="q in questions" :data="q" v-on:answered="answerQuestion" :key="q.id"></question>
      
        <button class="btn btn-primary btn-block" @click="setScores">Svara</button>
    </div>
</template>

<script>
import Question from './Question.vue'
import BigFive from '../services/BigFive.js'

export default {
    name: 'Questions',

    props: ['amount'],

    components: {
        Question
    },

    data () {
        return {
            questions: BigFive.getQuestions({limit: this.amount}),
            answers: {}
        }
    },

    methods: {
        answerQuestion (data) {      
            this.$set(this.answers, data.id, data.model)
        },

        setScores () {
            const scores = BigFive.calulateScore({totalQuestions: this.amount, answers: Object.values(this.answers)})

            this.$emit('finished', scores)
        }
    }
}
</script>

<style scoped>
button {
  margin-top: 20px;
}
</style>
