<template>
    <ul v-if="scores">
        <h4>Personlighetstest</h4>
        <li><b>Sympatiskhet</b>: {{ translate(scores.A.result) }}</li>
        <li><b>Samvetsgrannhet</b>: {{ translate(scores.C.result) }}</li>
        <li><b>Extraversion</b>: {{ translate(scores.E.result) }}</li>
        <li><b>Neurotisism</b>: {{ translate(scores.N.result) }}</li>
        <li><b>Öppenhet</b>: {{ translate(scores.O.result) }}</li>
      </ul>
</template>

<script>
export default {
    name: 'Scores',
    props: ['scores'],

    methods: {
      translate (string) {
        switch (string) {
          case 'high': return 'Hög'
          case 'neutral': return 'Neutral'
          case 'low': return 'Låg'
        }
      } 
    }
}
</script>

<style scoped>
ul {
  padding: 0;
  margin: 0 0 20px 0;
}

li {
  list-style-type: none;
}
</style>




