<template>
    <div>
        <h1>Tala in</h1>

        <button type="button" class="btn btn-primary btn-lg" @click="startRecording()" v-if="!recording"><i class="i-af-mic mr-2"></i>Spela in</button>
        <button type="button" class="btn btn-primary btn-lg" @click="stopRecording()" v-if="recording"><i class="i-af-times mr-2"></i>Stoppa inspelning</button>

        <br><br>

         <blockquote class="blockquote">
            <p class="mb-0">Din intalade text</p>
        </blockquote>
        <div class="form-group">
            <textarea class="form-control" v-model="transcript"></textarea>
            <!--<button class="btn btn-primary btn-block" @click="setText()">Analysera text</button>-->
        </div>

        <div v-if="recording">
            <h5>Inspelning pågår</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" v-bind:style="{ width: progress }"></div>
            </div>
        </div>

    </div>
    
</template>

<script>
let audioContext = false
let socket = false
let mediaStream = false
let mainStream = false
let scriptNode
let ssStream


export default {
    name: 'Speech',

    data () {
        return {
            recording: false,
            transcript: "",
            timeLeft: 0
        }
    },

    computed: {
        progress () {
            return this.timeLeft * 10 + '%'
        }
    },

    mounted () {
        audioContext = new AudioContext()
        socket = io.connect('http://localhost:3555')
        ssStream = ss.createStream()

        ss(socket).emit('START', ssStream)

        socket.emit('LANGUAGE_SELECT', 'sv-SE')

        socket.on('TRANSCRIPT', (transcript) => {
            this.transcript += transcript
        })
    },

    destroyed () {
        socket.disconnect()
    },

    methods: {
        startRecording () {
            this.recording = true

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ audio: true }).then((stream) => {
                    mainStream = stream
                    this.successCallback(stream)
                    scriptNode.connect(audioContext.destination)
                }).catch((error) => {
                    console.log('Error', error)
                })
            }

            this.countdown(10, () => {
                this.stopRecording()
            })
        },

        stopRecording () {
            if (this.recording) {
                this.recording = false
                this.timeLeft = 0

                mainStream.getTracks().forEach((track) => track.stop())
                scriptNode.disconnect(audioContext.destination)
                mediaStream.disconnect(scriptNode)

                socket.emit('STOP', {})
            }
        },

        countdown (seconds, callback = false) {

            if (this.recording === false) {
                seconds = 0
            }

            this.timeLeft = seconds

            if (seconds > 0) {
                return setTimeout(() => this.countdown(seconds - 1, callback), 1000)
            }

            if (callback && typeof callback == 'function') {
                callback()
            }
        },

        successCallback (stream) {
            mediaStream = audioContext.createMediaStreamSource(stream)
            const bufferSize = 2048

            scriptNode = audioContext.createScriptProcessor(bufferSize, 1, 1)
            mediaStream.connect(scriptNode)

            scriptNode.onaudioprocess = (audioProcessingEvent) => {

                if (!this.recording) {
                    return
                }

                let inputBuffer = audioProcessingEvent.inputBuffer
                let outputBuffer = audioProcessingEvent.outputBuffer

                let inputData = inputBuffer.getChannelData(0)
                let outputData = outputBuffer.getChannelData(0)

                for (let sample = 0; sample < inputBuffer.length; sample++) {
                    outputData[sample] = inputData[sample]
                }

                ssStream.write(new ss.Buffer(this.downsampleBuffer(inputData, 44100, 16000)))
            }
        },

        downsampleBuffer (buffer, sampleRate, outSampleRate) {
            if (outSampleRate == sampleRate) {
                return buffer
            }

            if (outSampleRate > sampleRate) {
                throw "outSampleRate > sampleRate"
            }

            const sampleRateRatio = sampleRate / outSampleRate
            const newLength = Math.round(buffer.length / sampleRateRatio)
            let result = new Int16Array(newLength)

            let offsetResult = 0
            let offsetBuffer = 0

            while (offsetResult < result.length) {
                let nextOffsetBuffer = Math.round((offsetResult + 1) * sampleRateRatio)
                let accum = 0
                let count = 0

                for (let i = offsetBuffer; i < nextOffsetBuffer && i < buffer.length; i++) {
                    accum += buffer[i]
                    count += 1
                }

                result[offsetResult] = Math.min(1, accum / count) * 0x7FFF
                offsetResult += 1
                offsetBuffer = nextOffsetBuffer
            }

            return result.buffer
        }
    }

}
</script>

<style scoped>

</style>

