<template>
    <div>

      <scores :scores="scores"></scores>

      <div v-if="traits.length || loading">
        <h4>Söker efter</h4>
        <div class="loading-indicator" v-show="loading"></div>
        <span class="badge badge-pill badge-primary" v-for="trait in traits" :key="trait">{{ trait }}</span>
      </div>
    </div>
</template>

<script>
import Scores from './Scores.vue'

import BigFive from '../services/BigFive.js'
import Ontology from '../services/Ontology.js'

export default {
    name: 'Traits',
    props: ['scores', 'text'],

    components: {
      Scores,
    },

    data () {
      return {
        traits: [],
        loading: false
      }
    },

    watch: {
      scores (newVal) {
        this.resetTraits()
        if (newVal) {
          this.getTraitsFromScores(newVal)
        }
      },

      text (newVal) {
        this.resetTraits()
        if (newVal) {
          this.getTraitsFromText(newVal)
        }
      }
    },

    methods: {
      getTraitsFromScores (scores) {
        this.setTraits(BigFive.getTraitsFromScores(scores))
      },

      getTraitsFromText (text) {
        this.loading = true
        Ontology.getTraitsFromText(text).then((traits) => {
          this.setTraits(traits)
          this.loading = false
        }).catch(() => {
          this.loading = false
        })
      },

      resetTraits () {
        this.traits = []
      },

      setTraits (traits) {
        this.traits = traits
        this.$emit('finished', traits)
      }
    }
}
</script>

<style scoped>
.badge {
  margin: 0 4px 0 0;
}
</style>




