<template>
  <div id="app">
    <personlighets-test></personlighets-test>
  </div>
</template>

<script>
import PersonlighetsTest from './components/PersonlighetsTest.vue'

export default {
  name: 'app',
  components: {
    PersonlighetsTest
  }
}
</script>

<style>
h4 {
  margin: 20px 0 10px 0;
  font-weight: 400;
}
</style>
